<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Popcorn</title>
    <%- include('./partials/head') %>
    <style>
      * {
        margin: 0;
        padding: 0;
        outline: none;
      }

      body {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
      }

      form {
        width: 80vw;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .input-group {
        position: relative;
        width: 60vw;
        display: flex;
        flex-direction: column;
      }

      form input {
        color: white;
        background: transparent;
        padding: 1rem;
        padding-left: 4rem;
        border: solid 1px #ffffff;
        border-radius: 5px;
        caret-color: currentColor;
        font-size: 1rem;
      }

      form input::placeholder {
        color: #888;
        font-size: 1rem;
      }

      form label {
        color: darkgray;
        text-align: center;
        padding-bottom: 0.5rem;
      }

      form select {
        -o-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;

        position: absolute;
        bottom: 0;
        height: 100%;
        z-index: 1;
        padding: 0.5rem;
        text-align-last: center;
        background: transparent;
        color: white;
        border-radius: 0;
      }

      #locale {
        left: 0;
        font-size: 2rem;
        border-right: solid 1px white;
      }

      #type {
        right: 0;
        font-size: 1.5rem;
        border-left: solid 1px white;
      }

      form button {
        padding: 1rem 2rem;
        font-size: 1rem;
        background: rgb(3, 120, 255);
        color: white;
        border-color: transparent;
        border-radius: 5px;
        cursor: pointer;
        transition: 200ms ease-in-out;
      }

      form button:hover {
        background: navy;
      }

      form button:disabled,
      form button:disabled:hover {
        background: lightgray;
        cursor: progress;
      }

      @media only screen and (max-width: 600px) {
        .input-group {
          width: 90vw;
        }
        form input {
          padding-left: 3rem;
        }
        #locale {
          font-size: 1.6rem;
        }
        #type {
          font-size: 1.25rem;
        }
      }
    </style>
  </head>
  <img id="bg-overlay" src="./background-overlay.jpg" alt="" />
  <body>
    <%- include('./partials/header') %>
    <form onsubmit="submitForm()" action="/search" method="GET">
      <label for="titles"
        >Enter TV Series / Movie Title to find out live stream providers:</label
      >
      <div class="input-group">
        <select name="locale" id="locale">
          <option value="in">🇮🇳</option>
          <option value="us">🇺🇸</option>
          <option value="uk">🇬🇧</option>
          <option value="ca">🇨🇦</option>
        </select>
        <input
          type="text"
          name="titles"
          id="titles"
          placeholder="Ex. Friends"
          required
          autocomplete="off"
          autofocus
        />
        <select name="type" id="type">
          <option value="all">📺 + 🎬</option>
          <option value="show">📺 TV</option>
          <option value="movie">🎬 Movie</option>
        </select>
      </div>
      <br />
      <button id="submit" type="submit">Search</button>
    </form>
    <%- include('./partials/footer') %>
  </body>

  <script>
    const submitForm = () => {
      document.querySelector("#submit").innerText = "Loading...";
      document.querySelector("#submit").disabled = true;
    };
  </script>
</html>
