<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BMS Web Scrapper</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        outline: none;
        font-family: Arial, Helvetica, sans-serif;
      }

      body {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      form {
        width: 40vw;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      form label {
        margin: 2rem 0 0.5rem 0;
        color: darkgray;
      }

      form input {
        padding: 1rem;
        width: 100%;
      }

      form button {
        padding: 1rem 2rem;
        font-size: 1rem;
        background: rgb(3, 120, 255);
        color: white;
        border-radius: 5px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <form action="/search" method="GET">
      <h1>Web Scraper</h1>
      <label for="title"
        >Enter TV Series / Movie Title to get OTT providers:</label
      >
      <input
        type="text"
        name="title"
        id="title"
        placeholder="Ex. Friends"
        required
        autocomplete="off"
      />
      <br />
      <button type="submit">Search Title</button>
    </form>
  </body>
</html>
